@model IEnumerable<MonolitoTaller.Models.Entities.Nota>

@{
    ViewBag.Title = "Notas";
}

<h2>Listado de Notas</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Registrar nueva nota</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID Estudiante</th>
            <th>ID Asignatura</th>
            <th>Valor</th>
            <th>Fecha de Registro</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var n in Model)
        {
            <tr>
                <td>@n.IdEstudiante</td>
                <td>@n.IdAsignatura</td>
                <td>@n.Valor</td>
                <td>@n.FechaRegistro.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@n.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@n.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@n.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
