@model List<MonolitoTaller.Models.ViewModels.NotaVistaViewModel>

@{
    ViewBag.Title = "Listado de Notas";
}

<h2>Listado de Notas</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Registrar nueva nota</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Documento Estudiante</th>
            <th>Código Asignatura</th>
            <th>Nota</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdNota</td>
                <td>@item.DocumentoEstudiante</td>
                <td>@item.CodigoAsignatura</td>
                <td>@item.Valor</td>
                <td>@item.FechaRegistro.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>