@model MonolitoArquiTaller2.Models.Entities.Estudiante
@{
    ViewBag.Title = "Crear Estudiante";
}

<h2>Crear Estudiante</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(e => e.Nombre)
        @Html.TextBoxFor(e => e.Nombre, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Apellido)
        @Html.TextBoxFor(e => e.Apellido, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Correo)
        @Html.TextBoxFor(e => e.Correo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Documento)
        @Html.TextBoxFor(e => e.Documento, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" })
}
