@model IEnumerable<MonolitoTaller.Models.Entities.Estudiante>

@{
    ViewBag.Title = "Lista de Estudiantes";
}

<h2>Estudiantes</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nuevo</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Documento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Nombre</td>
                <td>@e.Apellido</td>
                <td>@e.Correo</td>
                <td>@e.Documento</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@e.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@e.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@e.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
