@model IEnumerable<MonolitoTaller.Models.Entities.Asignatura>

@{
    ViewBag.Title = "Listado de Asignaturas";
}

<h2>Asignaturas</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nueva</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Código</th>
            <th>Créditos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.Nombre</td>
                <td>@a.Codigo</td>
                <td>@a.Creditos</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@a.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@a.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@a.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
